.reactEasyCrop_Contain {
    width: 100%;
    height: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


.range-input-slider {
    color: #171717 !important;
    background-color: #0c1668 !important;
}